.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary;
    z-index: 2;
  }
  // .header__body

  &__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;

    @media (max-width: 1199px) {
      height: 112px;
    }
  }

  // .header__logo

  &__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 17px;
    position: relative;
    z-index: 3;

    img {
      max-width: 100%;
      display: block;
    }
    .header__logo-link {
      flex: 0 0 90px;

      @media (max-width: 1199px) {
        flex: 0 0 48px;
      }
    }
  }

  // .header__title

  &__title {
    font-family: "Cantana One";
    font-size: 20px;
    line-height: 1.2;
    font-size: 18px;
    line-height: 1.7;
  }

  // .header__menu

  &__menu {
    display: flex;
    gap: 64px;
    position: relative;
    z-index: 2;

    @media (max-width: 1199px) {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background: $primary;
      display: block;
      padding: 110px 16px 32px 16px;
      transition: all 0.3s ease 0s;
      z-index: 1;

      &.active {
        top: 0;
      }
    }
  }

  // .header__submenu

  &__submenu {
    position: absolute;
    left: 0;
    top: 40px;
    background: $primary;
    padding: 24px 24px 24px 36px;
    border-radius: 16px;
    transition: all 0.3 ease 0s;
    display: none;
    transition: display 0.3s ease, visibility 0.3s ease;

    li:not(:last-child) {
      margin-bottom: 8px;
    }
    li:hover,
    li.active {
      font-weight: 600;
      list-style: disc;

      &::marker {
        color: $gold-line;
      }
    }

    @media (max-width: 1199px) {
      position: relative;
      left: 10px;
      top: 10px;
      padding: 10px 0 15px 10px;
    }
  }

  &__submenu.active {
    display: block;
    visibility: visible;
  }

  // .header__burger

  &__burger {
    display: none;

    @media (max-width: 1199px) {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;

      &::before,
      &::after {
        content: "";
        background-color: $white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
      }

      &::before {
        top: 0;
      }
      &::after {
        bottom: 0;
      }
      &.active::before {
        transform: rotate(45deg);
        top: 9px;
      }
      &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
      &.active span {
        transform: scale(0);
      }
      span {
        position: absolute;
        background-color: $white;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
      }
    }
  }

  // .header__list

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 64px;

    li {
      list-style: none;
      font-size: 18px;
      position: relative;

      a {
        text-decoration: none;
        color: $white;
        position: relative;
        display: inline-block;

        &.header__link::after {
          display: block;
          content: "";
          height: 2px;
          width: 0;
          position: relative;
          top: 10px;
          background-color: $gold-line;
          transition: width 0.3s ease-in-out;
        }
        &.header__link.active::after {
          width: 100%;
        }

        &.header__link:hover::after,
        &.header__link:focus::after {
          width: 100%;
        }
      }

      .arrow {
        width: 5px;
        height: 5px;
        border-top: 5px solid $white;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        margin-left: 10px;
        position: absolute;
        top: 10px;
      }

      .arrow.active {
        transform: rotate(180deg);
      }

      @media (max-width: 1199px) {
        margin: 0 0 15px 0;
      }
    }

    @media (max-width: 1199px) {
      display: block;
    }
  }

  // .header__icons

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    .header__icons-link {
      flex-shrink: 0;
    }

    @media (max-width: 1199px) {
      justify-content: flex-start;
      gap: 16px;
      margin: 24px 0 0 0;
    }
  }
}
